label {
	font-size: 1.5rem;
	font-weight: 700;
	color: var(--coul-accent-fonce);
	margin-bottom: 0.5rem;
}

input {
	font-size: 1.5rem;
	font-weight: 600;
	color: var(--coul-accent-fonce);
	padding: 0.5rem;
	border: 2px solid var(--coul-principale-fonce);
	border-radius: 5px;
	background-color: var(--coul-blanc);
}

.champs-groupe {
	display: flex;
	flex-direction: column;
}

input[type="search"] {
	width: 100%;
	max-width: fit-content;
	font-size: var(--font-m);
	text-align: center;
}

form {
	display: flex;
	flex-direction: column;
	
	gap: var(--space-m);

	& .input-group {
		display: flex;
		flex-direction: column;

		& > p {
			margin-top: 0.5rem;
			padding: 0.5rem;
			background-color: color-mix(in oklab, tomato 20%, white 80%);
			color: tomato;
		}

	}
	
	& .input-group > .input {
		display: flex;
		width: 100%;
		gap: var(--space-m);
		& input,
		& select,
		& button,
		& textarea {
			flex: 1;
		}
	}
}

input[type="submit"] {
	background-color: var(--coul-accent-fonce);
	color: var(--coul-blanc);
	font-size: 1.5rem;
	font-weight: 700;
	padding: 0.5rem;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s;
	border: 2px solid transparent;
	
	&:hover {
		background-color: var(--coul-accent-pale);
		/* color: var(--coul-accent-fonce); */
		border: 2px solid var(--coul-accent-fonce);
	}
	&.disabled {
		background-color: color-mix(in oklab, var(--coul-accent-pale) 30%, grey 70%);
		color: darkgrey;
		border: 2px solid lightgray;
		pointer-events: none;
	}
}

/*champ date
src: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/datetime-local#technical_summary
*/
/*
.input-group > div:has( input:invalid) + p::after{
	content: "Ce champ est requis. Veuillez entrer une date valide";
	margin-top: 0.5rem;
	padding: 0.5rem;
	background-color: color-mix(in oklab, tomato 20%, white 80%);
	color: tomato;
}

.input-group > div:has( input:valid) + p::after{
	content: "";
} */